.form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.form > label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.form > label > span {
  margin-right: 1em;
}

.locations {
  display: flex;
  width: 15em;
  flex-wrap: wrap;
}

.locations > span {
  background-color: var(--usaf-light-grey);
  border-radius: 5px;
  padding: 2px;
  width: 1.75em;
  text-align: center;
  margin-right: 0.5em;
  margin-top: 1em;
}
