.button {
  background-color: var(--stone-grey);
  border: none;
  border-radius: 3px;
  height: 2.75em;
}

.button > a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 600;
}
